\hypertarget{kconfig_8h}{}\section{/home/vladn/git/ovs/datapath/linux/compat/include/linux/kconfig.h File Reference}
\label{kconfig_8h}\index{/home/vladn/git/ovs/datapath/linux/compat/include/linux/kconfig.\+h@{/home/vladn/git/ovs/datapath/linux/compat/include/linux/kconfig.\+h}}
{\ttfamily \#include $<$linux/version.\+h$>$}\\*
Include dependency graph for kconfig.\+h\+:
\nopagebreak
\begin{figure}[H]
\begin{center}
\leavevmode
\includegraphics[width=196pt]{kconfig_8h__incl}
\end{center}
\end{figure}
This graph shows which files directly or indirectly include this file\+:
\nopagebreak
\begin{figure}[H]
\begin{center}
\leavevmode
\includegraphics[width=350pt]{kconfig_8h__dep__incl}
\end{center}
\end{figure}
\subsection*{Macros}
\begin{DoxyCompactItemize}
\item 
\#define \hyperlink{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1}~0,
\item 
\#define \hyperlink{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{config\+\_\+enabled}(cfg)~\hyperlink{kconfig_8h_a9e4f8ef4d4a57c971759d96e19ce4685}{\+\_\+config\+\_\+enabled}(cfg)
\item 
\#define \hyperlink{kconfig_8h_a9e4f8ef4d4a57c971759d96e19ce4685}{\+\_\+config\+\_\+enabled}(value)~\hyperlink{kconfig_8h_a1ab4aa6ab0dd4de144241ef7524d2c89}{\+\_\+\+\_\+config\+\_\+enabled}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#value)
\item 
\#define \hyperlink{kconfig_8h_a1ab4aa6ab0dd4de144241ef7524d2c89}{\+\_\+\+\_\+config\+\_\+enabled}(arg1\+\_\+or\+\_\+junk)~\hyperlink{kconfig_8h_aaf258f318f4aa54c0ca10b569d15696a}{\+\_\+\+\_\+\+\_\+config\+\_\+enabled}(arg1\+\_\+or\+\_\+junk 1, 0)
\item 
\#define \hyperlink{kconfig_8h_aaf258f318f4aa54c0ca10b569d15696a}{\+\_\+\+\_\+\+\_\+config\+\_\+enabled}(\+\_\+\+\_\+ignored,  val, ...)~val
\item 
\#define \hyperlink{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}{I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D}(option)~(\hyperlink{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{config\+\_\+enabled}(option) $\vert$$\vert$ \hyperlink{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{config\+\_\+enabled}(option\#\#\+\_\+\+M\+O\+D\+U\+L\+E))
\item 
\#define \hyperlink{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N}(option)~\hyperlink{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{config\+\_\+enabled}(option)
\item 
\#define \hyperlink{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{I\+S\+\_\+\+M\+O\+D\+U\+L\+E}(option)~\hyperlink{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{config\+\_\+enabled}(option\#\#\+\_\+\+M\+O\+D\+U\+L\+E)
\end{DoxyCompactItemize}


\subsection{Macro Definition Documentation}
\hypertarget{kconfig_8h_aaf258f318f4aa54c0ca10b569d15696a}{}\index{kconfig.\+h@{kconfig.\+h}!\+\_\+\+\_\+\+\_\+config\+\_\+enabled@{\+\_\+\+\_\+\+\_\+config\+\_\+enabled}}
\index{\+\_\+\+\_\+\+\_\+config\+\_\+enabled@{\+\_\+\+\_\+\+\_\+config\+\_\+enabled}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{\+\_\+\+\_\+\+\_\+config\+\_\+enabled}]{\setlength{\rightskip}{0pt plus 5cm}\#define \+\_\+\+\_\+\+\_\+config\+\_\+enabled(
\begin{DoxyParamCaption}
\item[{}]{\+\_\+\+\_\+ignored, }
\item[{}]{val, }
\item[{}]{...}
\end{DoxyParamCaption}
)~val}\label{kconfig_8h_aaf258f318f4aa54c0ca10b569d15696a}
\hypertarget{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}{}\index{kconfig.\+h@{kconfig.\+h}!\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1@{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1}}
\index{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1@{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1}]{\setlength{\rightskip}{0pt plus 5cm}\#define \+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+1~0,}\label{kconfig_8h_a9d9f9ac6e60dfd0b6396b83969ba8f38}
\hypertarget{kconfig_8h_a1ab4aa6ab0dd4de144241ef7524d2c89}{}\index{kconfig.\+h@{kconfig.\+h}!\+\_\+\+\_\+config\+\_\+enabled@{\+\_\+\+\_\+config\+\_\+enabled}}
\index{\+\_\+\+\_\+config\+\_\+enabled@{\+\_\+\+\_\+config\+\_\+enabled}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{\+\_\+\+\_\+config\+\_\+enabled}]{\setlength{\rightskip}{0pt plus 5cm}\#define \+\_\+\+\_\+config\+\_\+enabled(
\begin{DoxyParamCaption}
\item[{}]{arg1\+\_\+or\+\_\+junk}
\end{DoxyParamCaption}
)~{\bf \+\_\+\+\_\+\+\_\+config\+\_\+enabled}(arg1\+\_\+or\+\_\+junk 1, 0)}\label{kconfig_8h_a1ab4aa6ab0dd4de144241ef7524d2c89}
\hypertarget{kconfig_8h_a9e4f8ef4d4a57c971759d96e19ce4685}{}\index{kconfig.\+h@{kconfig.\+h}!\+\_\+config\+\_\+enabled@{\+\_\+config\+\_\+enabled}}
\index{\+\_\+config\+\_\+enabled@{\+\_\+config\+\_\+enabled}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{\+\_\+config\+\_\+enabled}]{\setlength{\rightskip}{0pt plus 5cm}\#define \+\_\+config\+\_\+enabled(
\begin{DoxyParamCaption}
\item[{}]{value}
\end{DoxyParamCaption}
)~{\bf \+\_\+\+\_\+config\+\_\+enabled}(\+\_\+\+\_\+\+A\+R\+G\+\_\+\+P\+L\+A\+C\+E\+H\+O\+L\+D\+E\+R\+\_\+\#\#value)}\label{kconfig_8h_a9e4f8ef4d4a57c971759d96e19ce4685}
\hypertarget{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}{}\index{kconfig.\+h@{kconfig.\+h}!config\+\_\+enabled@{config\+\_\+enabled}}
\index{config\+\_\+enabled@{config\+\_\+enabled}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{config\+\_\+enabled}]{\setlength{\rightskip}{0pt plus 5cm}\#define config\+\_\+enabled(
\begin{DoxyParamCaption}
\item[{}]{cfg}
\end{DoxyParamCaption}
)~{\bf \+\_\+config\+\_\+enabled}(cfg)}\label{kconfig_8h_a4ef5e3b250ca40bef05f9b05084a5011}
\hypertarget{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}{}\index{kconfig.\+h@{kconfig.\+h}!I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N@{I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N}}
\index{I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N@{I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N}]{\setlength{\rightskip}{0pt plus 5cm}\#define I\+S\+\_\+\+B\+U\+I\+L\+T\+I\+N(
\begin{DoxyParamCaption}
\item[{}]{option}
\end{DoxyParamCaption}
)~{\bf config\+\_\+enabled}(option)}\label{kconfig_8h_a43b9d76488f716ceeab1dd36fb631587}
\hypertarget{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}{}\index{kconfig.\+h@{kconfig.\+h}!I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D@{I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D}}
\index{I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D@{I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D}]{\setlength{\rightskip}{0pt plus 5cm}\#define I\+S\+\_\+\+E\+N\+A\+B\+L\+E\+D(
\begin{DoxyParamCaption}
\item[{}]{option}
\end{DoxyParamCaption}
)~({\bf config\+\_\+enabled}(option) $\vert$$\vert$ {\bf config\+\_\+enabled}(option\#\#\+\_\+\+M\+O\+D\+U\+L\+E))}\label{kconfig_8h_a2e3f1f46acb8ff1339122bf2bc09d30c}
\hypertarget{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}{}\index{kconfig.\+h@{kconfig.\+h}!I\+S\+\_\+\+M\+O\+D\+U\+L\+E@{I\+S\+\_\+\+M\+O\+D\+U\+L\+E}}
\index{I\+S\+\_\+\+M\+O\+D\+U\+L\+E@{I\+S\+\_\+\+M\+O\+D\+U\+L\+E}!kconfig.\+h@{kconfig.\+h}}
\subsubsection[{I\+S\+\_\+\+M\+O\+D\+U\+L\+E}]{\setlength{\rightskip}{0pt plus 5cm}\#define I\+S\+\_\+\+M\+O\+D\+U\+L\+E(
\begin{DoxyParamCaption}
\item[{}]{option}
\end{DoxyParamCaption}
)~{\bf config\+\_\+enabled}(option\#\#\+\_\+\+M\+O\+D\+U\+L\+E)}\label{kconfig_8h_a2ba4e9c7473b52be573e3a3b2383d7cf}
