.TH "/home/vladn/git/ovs/datapath/linux/compat/include/linux/kconfig.h" 3 "Mon Aug 17 2015" "ovs datapath" \" -*- nroff -*-
.ad l
.nh
.SH NAME
/home/vladn/git/ovs/datapath/linux/compat/include/linux/kconfig.h \- 
.SH SYNOPSIS
.br
.PP
\fC#include <linux/version\&.h>\fP
.br

.SS "Macros"

.in +1c
.ti -1c
.RI "#define \fB__ARG_PLACEHOLDER_1\fP   0,"
.br
.ti -1c
.RI "#define \fBconfig_enabled\fP(cfg)   \fB_config_enabled\fP(cfg)"
.br
.ti -1c
.RI "#define \fB_config_enabled\fP(value)   \fB__config_enabled\fP(__ARG_PLACEHOLDER_##value)"
.br
.ti -1c
.RI "#define \fB__config_enabled\fP(arg1_or_junk)   \fB___config_enabled\fP(arg1_or_junk 1, 0)"
.br
.ti -1c
.RI "#define \fB___config_enabled\fP(__ignored,  val, \&.\&.\&.)   val"
.br
.ti -1c
.RI "#define \fBIS_ENABLED\fP(option)   (\fBconfig_enabled\fP(option) || \fBconfig_enabled\fP(option##_MODULE))"
.br
.ti -1c
.RI "#define \fBIS_BUILTIN\fP(option)   \fBconfig_enabled\fP(option)"
.br
.ti -1c
.RI "#define \fBIS_MODULE\fP(option)   \fBconfig_enabled\fP(option##_MODULE)"
.br
.in -1c
.SH "Macro Definition Documentation"
.PP 
.SS "#define ___config_enabled(__ignored, val,  \&.\&.\&.)   val"

.SS "#define __ARG_PLACEHOLDER_1   0,"

.SS "#define __config_enabled(arg1_or_junk)   \fB___config_enabled\fP(arg1_or_junk 1, 0)"

.SS "#define _config_enabled(value)   \fB__config_enabled\fP(__ARG_PLACEHOLDER_##value)"

.SS "#define config_enabled(cfg)   \fB_config_enabled\fP(cfg)"

.SS "#define IS_BUILTIN(option)   \fBconfig_enabled\fP(option)"

.SS "#define IS_ENABLED(option)   (\fBconfig_enabled\fP(option) || \fBconfig_enabled\fP(option##_MODULE))"

.SS "#define IS_MODULE(option)   \fBconfig_enabled\fP(option##_MODULE)"

.SH "Author"
.PP 
Generated automatically by Doxygen for ovs datapath from the source code\&.
